<div class="modal fade" id="importAddressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Import address</h4>
                <span>Import watch-only address to see balance. You will be asked for key if you request transfer.</span>
            </div>
            <div class="modal-body">
                <form name="form" novalidate>
                    <div class="form-group" show-errors>
                        <label>Name</label>
                        <input class="form-control" ng-model="importAddressData.name" name="nameInput"
                               required="" type="text" auto111focus>

                        <div ng-show="form.$submitted || form.nameInput.$touched">
                            <div ng-show="form.nameInput.$error.required">Name is required</div>
                        </div>
                    </div>
                    <div class="form-group" show-errors>
                        <label>Address</label>
                        <input class="form-control" ng-model="importAddressData.address"
                               ethaddress
                               ethaddresschecksum
                               name="address" required="" type="text">

                        <div ng-show="form.$submitted || form.address.$touched">
                            <div ng-show="form.address.$error.required">Address is required</div>
                            <div ng-show="form.address.$error.ethaddress">Address format is invalid</div>
                            <div ng-show="form.address.$error.ethaddresschecksum">Checksum address format is invalid</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="onImportAddressConfirmed()">Import</button>
            </div>
        </div>
    </div>
</div>