<div class="modal fade" id="importAddressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New address in keystore</h4>
                <span>Private key will be kept on server in password protected file.</span>
            </div>
            <div class="modal-body">
                <form name="form" novalidate autocomplete="off">
                    <!-- Fake fields to avoid google auto fill -->
                    <div style="height: 0px;opacity: 0.01" id="fakeusernameremembered">
                        <input type="text" class="fake-autofill-fields"/>
                        <input type="password" class="fake-autofill-fields"/>
                    </div>
                    <script>
                        window.setTimeout(function () {
                            $('#fakeusernameremembered').hide();
                        }, 2000);
                    </script>

                    <div class="form-group" show-errors>
                        <label>Name</label>
                        <input class="form-control" ng-model="newAddressData.name" name="nameInput"
                               autocomplete="off"
                               value=" "
                               required type="text" auto111focus>

                        <div ng-show="form.$submitted || form.nameInput.$touched">
                            <div ng-show="form.nameInput.$error.required">Name is required</div>
                        </div>
                    </div>

                    <div class="form-group" show-errors>
                        <label>Password</label>
                        <input class="form-control"
                               autocomplete="off"
                               ng-model="newAddressData.secret"
                               name="secret" required="" type="password">

                        <div ng-show="form.$submitted || form.address.$touched">
                            <div ng-show="form.secret.$error.required">Password is required</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="onNewAddressConfirmed()">Import</button>
            </div>
        </div>
    </div>
</div>