<script type="text/ng-template" id="tree_item_renderer.html">

    <div class="font-16 font-monospace storage-entry-div" ng-show="entry.key != null">
        <div class="entry-icon-div">
            <a ng-click="onExpand(entry)"
               href="#"
               ng-show="entry.expandable">
                <i class="fa" ng-class="{'fa-plus-square-o': !entry.expanded, 'fa-minus-square-o': entry.expanded}"/>
            </a>
        </div>
        <span class="c-text font-16">{{entry.key.decoded}}</span> = <span class="font-16 storage-entry-value">{{entry.valueLabel}}</span><i class="m-l-sm font-monospace c-accent">{{entry.valueType}}</i>
    </div>

    <ul style="list-style-type: none; margin-left: 0; padding-left: 0" ng-show="entry.expanded">
        <li class="m-l-lg" ng-repeat="entry in entry.entries" ng-include="entry.template"></li>
    </ul>

    <div class="m-l-lg" ng-show="(entry.entries.length < entry.totalElements) && entry.expanded">
        <span class="m-l-md"></span>
        <a href="#" ng-click="onLoadMore(entry)">more</a>
        <span>|</span>
        <a href="#" ng-click="onShowAll(entry)">show all {{entry.total}}</a>
    </div>

</script>

<script type="text/ng-template" id="tree_string_renderer.html">

    <div class="font-16 font-monospace storage-entry-div">
        <div class="entry-icon-div"/>
        <span class="c-text font-16">{{entry.key.decoded}}</span> = <span class="font-16 storage-entry-value">{{entry.valueLabel}}</span>&nbsp;<i class="font-monospace c-accent">{{entry.type1Label}}</i>&nbsp;(<a href="#" ng-click="onSwitchString(entry)">{{entry.type2Label}}</a>)
    </div>
</script>

<script type="text/ng-template" id="tree_value_renderer.html">

    <div class="font-16 font-monospace storage-entry-div">
        <div class="entry-icon-div"/>
        <span class="c-text font-16">{{entry.key.decoded}}</span> = <span class="font-16 storage-entry-value">{{entry.valueLabel}}</span>&nbsp;<span class="font-16 c-text">{{entry.valueSecondLabel}}</span><i class="font-monospace c-accent">{{entry.value.typeKind || entry.value.type}}</i>
    </div>
</script>

<section class="content height-100p">

    <div class="container-fluid height-100p">

        <div class="row height-100p">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-albums"></i>
                    </div>

                    <div class="header-title">
                        <div class="pull-right">
                            <p ng-show="syncedBlock == 1">Index is full. We can show all properties</p>
                            <p ng-show="syncedBlock == -1">Index is not ready</p>
                            <p ng-show="syncedBlock > 1">Contracts, added since block <b class="c-white">#{{syncedBlockString}}</b>, will be displayed correctly</p>
                            <p>Storage used for index <b class="c-white">{{indexSizeString}}</b> | Solc version <b class="c-white">{{solcVersionString}}</b></p>
                        </div>

                        <h3 class="m-b-xs">Contracts</h3>
                        <small>
                            Watch contracts' storage fields
                        </small>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-lg-12" ng-cloak id="scroll-top-marker">

            <div class="panel panel-filled" ng-if="isAddingContract">
                <div class="row">
                    <div class="col-lg-6">

                        <div class="panel-heading flex flex-justify-between">
                            <a href="#" ng-click="onBackToList()" class="btn btn-w-md btn-default">Back to list</a>
                            <!--<span class="m-l-sm"/>-->
                        </div>

                        <div class="panel-heading">
                            <h4>Add contact for watching it's storage</h4>
                            <p ng-hide="isLoadingComplete" class="text-warning">
                                * Sync is not finished. Contract block may not exist yet.
                            </p>
                        </div>

                        <div class="panel-body">
                            <form name="form" novalidate class="bs-example">
                                <div class="form-group" show-errors>
                                    <label>Address</label>
                                    <input class="form-control" ng-model="newContract.address"
                                           ethaddress
                                           name="address" required="true" type="text">

                                    <div ng-show="form.$submitted || form.address.$touched">
                                        <div class="text-warning" ng-show="form.address.$error.required">Address is required</div>
                                        <div class="text-warning" ng-show="form.address.$error.ethaddress">Address format is invalid</div>
                                        <div class="text-warning" ng-show="form.address.$error.ethaddresschecksum">Checksum address format is invalid</div>
                                    </div>
                                </div>

                                <div class="form-group" show-errors>

                                    <div class="form-group">
                                        <label>Solidity code</label>

                                        <textarea name="sourceCode"
                                                  class="form-control" rows="3"
                                                  ng-model="newContract.sourceCode"
                                                  placeholder=""
                                                  autocomplete="off">
                                        </textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Solidity files</label>

                                    <input id="fileInput" type="file" name="contracts" multiple="true"
                                           style="visibility: hidden; height: 1px" />
                                    <a href="#"
                                       ng-click="onAddFile()"
                                       class="btn btn-w-md btn-default">Attach file</a>

                                    <div ng-repeat="file in files" class="m-t-sm">
                                        {{file.name}}
                                        <a href="#" ng-click="onRemoveFile(file)">remove</a>
                                    </div>

                                </div>

                                <div ng-hide="submitErrorMessage == ''" class="text-danger">
                                    {{submitErrorMessage}}
                                </div>

                            </form>

                        </div>

                        <div class="form-group flex flex-justify-center">
                            <a href="#"
                               ng-click="onFinalAddFiles()"
                               class="btn btn-w-md btn-primary">Upload !!!</a>
                        </div>
                    </div>
                </div>

            </div>


            <div class="panel panel-filled" ng-if="isViewingStorage">

                <div class="panel-heading flex flex-justify-between">
                    <div class="flex flex-align-center">
                        <div class="m-r-md">
                            <a href="#" ng-click="onBackToList()" class="btn btn-w-md btn-default">Back to list</a>
                        </div>

                        <h3>{{storage.contractName}}</h3>
                    </div>
                    <!--<h3 class="font-monospace c-text">{{storage.address}}</h4>-->
                    <h3>Balance: {{storage.balanceString}} ETH</h3>
                </div>

                <div class="panel-body">

                    <!-- -2 suites for contracts which has been imported -->
                    <div ng-if="storage.blockNumber == -1 || syncedBlock == -1 || (storage.blockNumber < syncedBlock && storage.blockNumber != -2)" class="panel panel-filled panel-c-danger">
                        <div class="panel-body">
                            <span class="c-white">Not all values may be displayed.</span> The Contracts deployed before fast sync load may show <span class="text-accent">incomplete</span> information.
                        </div>
                        <div class="panel-footer" ng-show="explorerUrl != null">
                            <a href="#" ng-click="onImportContract()" ng-disabled="isImportingInProgress" class="btn btn-w-md btn-warning m-r-sm">
                                Import from server
                            </a>
                            <span class="c-accent blink_me" ng-if="isImportingInProgress">Importing...</span>
                            <span class="text-danger">{{importingError}}</span>
                        </div>
                    </div>

                    <!--<div ng-show="storage.blockNumber == -2" class="panel panel-filled panel-c-danger">-->
                        <!--<div class="panel-footer" ng-show="explorerUrl != null">-->
                            <!--<a href="#" ng-click="onClearContract()" class="btn btn-w-md btn-warning m-r-sm">-->
                                <!--Clear for test-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="storage-background table-responsive" id="storage-scroll-container">
                        <div ng-controller="TreeController" style="list-style-type: none;margin-left: -17px;" ng-include="'tree_item_renderer.html'" ng-init="init(storage)">
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-filled" ng-if="!isAddingContract && !isViewingStorage">

                <div class="panel-heading">

                    <a href="#" ng-click="onWatchContract()" class="btn btn-w-md btn-primary"
                       >
                        <i class="fa fa-eye m-r-sm"/>
                        Add contract for watching
                    </a>
                </div>

                <div class="panel-body" id="contracts-scroll-container">

                    <div class="table-responsive" >
                        <table class="table peers-table">
                            <thead>
                            <tr>
                                <th>
                                    Contract Name
                                </th>
                                <th>
                                    Address
                                </th>
                                <th>
                                </th>
                                <th>
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                                <tr ng-repeat="item in contracts"
                                    ng-click="onViewStorage(item)"
                                    ng-cloak
                                    ng-class="{'peer-active': item.isActive}"
                                    class="peer-row">
                                    <td>
                                        {{item.name}}
                                    </td>
                                    <td class="font-monospace">
                                        {{item.address}}
                                    </td>
                                    <td>
                                        <a href="#" ng-click="onViewClick(item)">View</a>
                                    </td>
                                    <td>
                                        <a href="#" ng-click="onRemoveClick(item)">Unwatch</a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>


    </div>
</section>