<script src="js/blockchain-view/blockchain-view.js"></script>

<!-- Main content-->
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                    <div class="pull-right text-right" style="line-height: 14px">
                        <small>Ethereum Harmony<br>Dashboard<br> <span class="c-white">v.1.0</span></small>
                    </div>
                    <div class="header-icon">
                        <i class="pe page-header-icon pe-7s-graph3"></i>
                    </div>
                    <div class="header-title">
                        <h3 class="m-b-xs">Ethereum Harmony</h3>
                        <small>
                            Showing recent blockchain blocks
                        </small>
                    </div>
                </div>
                <hr>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="panel panel-filled">
                    <form class="form-horizontal home-info-text panel-body">
                        <div class="home-info-row">
                            <div class="col-sm-4">
                                Network:
                            </div>
                            <div class="col-sm-6">
                                {{vm.data.networkName}}
                            </div>
                        </div>

                        <div class="home-info-row">
                            <div class="col-sm-4">
                                Genesis:
                            </div>
                            <div class="col-sm-6">
                                {{vm.data.genesisHash}}
                            </div>
                        </div>

                        <div class="home-info-row">
                            <div class="col-sm-4">
                                Started:
                            </div>
                            <div class="col-sm-6">
                                {{vm.data.serverStartTime}}
                            </div>
                        </div>

                        <div class="home-info-row">
                            <div class="col-sm-4">
                                Status:
                            </div>
                            <div class="col-sm-6">
                                {{syncStatus}}
                            </div>
                        </div>

                        <div class="home-info-row">
                            <div class="col-sm-4">
                                Active peers:
                            </div>
                            <div class="col-sm-6">
                                {{activePeers}}
                            </div>
                        </div>

                        <div class="home-info-row">
                            <div class="col-sm-4">
                                NodeID:
                            </div>
                            <div class="col-sm-6">
                                {{vm.data.nodeId}}
                            </div>
                        </div>

                        <div class="home-info-row">
                            <div class="col-sm-4">
                                Eth port:
                            </div>
                            <div class="col-sm-4">
                                {{ethPort}}
                            </div>
                            <div class="col-sm-4">
                                <a href="#">Punch test</a>
                            </div>
                        </div>

                        <div class="home-info-row">
                            <div class="col-sm-4">
                                JsonRPC port:
                            </div>
                            <div class="col-sm-4">
                                {{vm.data.rpcPort}}
                            </div>
                            <div class="col-sm-4">
                                <a href="#">Punch test</a>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="panel panel-filled">
                    <div class="panel-heading">
                        Top block miners
                    </div>
                    <div id="miners-scroll-container" class="panel-body" style="padding-top: 0">
                        <div ng-repeat="item in miners">
                            <div class="bs-example m-b-sm">
                                <div style="text-align:left;">
                                    0x{{item.address}}
                                    <h4 style="float:right;color:#C5E0B4;">{{item.count}}</h4>
                                </div>

                                <ul class="list-inline m-b-none m-l-none" style="overflow: hidden; height: 20px">
                                    <li style="padding: 0;margin: 0; padding-right: 4px" ng-repeat="n in [] | range:item.count">
                                        <div class="home-miner-box"></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 height-100p">
                <div id="chart-scroll-container" ng-hide="isLongSync">
                    <div id="blockchain-chart">

                    </div>
                </div>
                <div class="center-container" ng-hide="!isLongSync">
                    <p class="block-import-message">Importing blocks in long sync mode.</p>
                    <p class="block-import-message">Imported {{vm.data.lastBlockNumber}} blocks, highest known block is {{(vm.data.highestBlockNumber == 0) && 'not loaded yet' || vm.data.highestBlockNumber}}.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End main content-->