<section class="content">

    <!-- Addition resources -->
    <link
            rel="stylesheet"
            type="text/css"
            href="//cloud.github.com/downloads/lafeber/world-flags-sprite/flags16.css"
    />
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/topojson/topojson.min.js"></script>
    <script src="bower_components/datamaps/dist/datamaps.world.min.js"></script>


    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="view-header">
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-world"></i>
                        </div>

                        <div class="header-title">
                            <h3 class="m-b-xs">Ethereum Peers</h3>
                            <small>
                                Displaying peers' info in ethereum network and their location.
                            </small>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">


            <div class="col-lg-5">

                <div class="panel">
                    <div class="panel-body">

                        <h4 class="m-t-n-sm m-b-xs">Peers location</h4>
                        <span>Connected to <span class="c-white">{{activePeersCount}}</span> peers. Total detected <span class="c-white">{{peersCount}}</span></span>

                        <div style="position: relative; padding-bottom: 50%;" id="serverMap">
                            <div style="z-index: 10001; position: absolute;" class="datamaps-hoverover"></div>
                        </div>

                        <div class="row" align="center">
                            <div class="datamaps-legend">
                                <dl>
                                    <dt style="margin-left: 15px">Country with peers:</dt>
                                    <dd style="background-color:#CA8800">&nbsp;</dd>

                                    <dt style="margin-left: 15px">New peer detected: </dt>
                                    <dd style="background-color:#FFF108">&nbsp;</dd>

                                    <dt style="margin-left: 15px">Block received: </dt>
                                    <dd style="margin-top: 3px;width:10px;height:10px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border:1px solid #FFFFFF;background-color:#FF0000;">&nbsp;</dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="panel panel-filled">
                    <div class="panel-body">

                        <form class="navbar-form" role="search">
                            <ul class="list-inline">
                                <!--<li>-->
                                    <!--<div class="checkbox">-->
                                        <!--<label>-->
                                            <!--<input type="checkbox"-->
                                                   <!--ng-model="showActive"-->
                                                   <!--ng-change="onShowActiveChange()">-->
                                            <!--Active-->
                                        <!--</label>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <li>
                                    <div class="checkbox">
                                        <label style="font-size: 16px">
                                            <input type="checkbox"
                                                   ng-model="showInactive"
                                                   ng-change="onShowInactiveChange()">
                                            Show Non-Active Nodes
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </form>

                        <div class="table-responsive" id="peers-scroll-container" style="overflow-y: scroll">
                            <table class="table peers-table">
                                <thead>
                                    <tr>
                                        <th>
                                            Node ID
                                        </th>
                                        <th>
                                            IP
                                        </th>
                                        <th style="text-align: left">
                                            Geo
                                        </th>
                                        <th class="text-right">
                                            Last Ping
                                        </th>
                                        <th class="text-right">
                                            Ping Latency
                                        </th>
                                        <th class="text-right">
                                            Reputation
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="peer in peers | filter: { isActive: !showInactive }"
                                        ng-cloak
                                        ng-class="{'peer-active': peer.isActive}">
                                        <td data-toggle="tooltip" title="{{peer.nodeId}}">
                                            0x{{peer.nodeId | limitTo : 12 : 0}}...
                                        </td>
                                        <td>{{peer.ip}}</td>
                                        <td style="padding-top: 0;padding-bottom: 0" data-toggle="tooltip" title="{{peer.country3Code}}">
                                            <ul class="f16 m-l-xs m-t-sm">
                                                <li class="flag {{peer.country2Code | lowercase}}"></li>
                                            </ul>
                                        </td>
                                        <td class="text-right">{{peer.lastPing}}</td>
                                        <td class="text-right">{{peer.pingLatency == 0 ? '' : peer.pingLatency + ' ms'}}</td>
                                        <td class="text-right">{{peer.reputation}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>