<section class="content" style="height: 100%;">

    <div class="row">
        <div class="col-lg-12">
            <div class="view-header">

                <div class="m-l-sm pull-right text-right" style="line-height: 14px; margin-right: 30px">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control query" placeholder="Filter" tabindex="1"
                                   ng-model="filterWord"/>
                        </div>
                    </form>
                </div>

                <div class="header-icon">
                    <i class="pe page-header-icon pe-7s-graph3"></i>
                </div>

                <div class="header-title">
                    <h3 class="m-b-xs">Json-Rpc API Usage</h3>
                    <small>
                        Displaying JSON-RPC protocol tracing.
                    </small>
                </div>

            </div>

            <hr>
        </div>
    </div>

    <div class="table-responsive" id="rpc-scroll-container">
        <ul class="table peers-table" style="padding: 0;">

            <il ng-repeat="item in rpcItems | rpcItemFilter:filterWord"
                ng-cloak>
                <div class="panel panel-dark-filled">
                    <div class="panel-heading" style="padding-top: 0;padding-bottom: 0">
                        <div class="row">
                            <div class="col-sm-6">
                                <u><h3 style="font-weight: normal">{{item.methodName}}</h3></u>
                            </div>
                            <div class="col-sm-3">
                                <h4 style="font-weight: normal">Invoked: {{item.count}}</h4>
                            </div>
                            <div class="col-sm-3">
                                <h4 style="font-weight: normal">Last: {{item.lastTime}}</h4>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer" style="padding-top: 0;padding-bottom: 0">
                        <!-- Last Result -->
                        <div class="rpc-item-header">
                            <a href="#" ng-click="showLastResult(item.methodName)">
                                <div class="header-icon">
                                    <i class="pe page-header-icon pe-7s-plus"></i>
                                </div>
                                <div class="header-title"><h5 style="font-weight: 100">Last Result</h5>
                                </div>
                            </a>
                        </div>

                        <div class="rpc-item-result-{{item.methodName}}" ng-show="item.lastResult != null">
                            <pre class="panel panel-black-filled">{{item.lastResult}}</pre>
                        </div>

                        <!-- Usage Sample -->
                        <div class="rpc-item-header">
                            <a href="#" ng-click="showUsageHelp(item.methodName)">
                                <div class="header-icon">
                                    <i class="pe page-header-icon pe-7s-study"></i>
                                </div>
                                <div class="header-title"><h5 style="font-weight: 100">Curl</h5>
                                </div>
                            </a>
                        </div>

                        <div class="rpc-item-usage-{{item.methodName}}">
                            <pre class="panel panel-black-filled"
                                 style="margin-top: 0; margin-bottom: 10px;padding-bottom: 10px">{{item.curl}}</pre>
                        </div>
                    </div>
                </div>
            </il>
        </ul>
    </div>

</section>